@media only screen and (min-width: 600px) {
    body {
        background-image: url('/phpmotors/images/site/small_check.jpg');
        background-color: white;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .content {
        background-color: #ffffff;
        border: 4px solid #4c96d7;
        border-radius: 8px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=East+Sea+Dokdo&display=swap');

/*General content window*/

body {
    margin: 0px;
}

h1,
h2,
h3 {
    font-family: 'East Sea Dokdo', cursive;
}

h2 {
    font-size: 150%;
}

p,
li,
table,
button {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 100%;
}

button {
    background-color: #4c96d7;
    padding: 3px 15px 3px;
}


/*Header*/

header .account {
    position: relative;
    right: 4%;
}


/*Navigation Bar*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    width: 100%;
    padding: 0;
}

nav {
    background-color: #3a3a3a;
    overflow: hidden;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

li a:hover {
    background-color: #4c96d7;
    color: #000000;
}


/*Main section*/

main {
    padding-left: 1%;
}

.dmc_delorean {
    padding-left: 2%;
}

.dmc_delorean p {
    font-family: 'East Sea Dokdo', cursive;
    color: #4c96d7;
    margin: -5px;
    padding-left: 3%;
}

.delorean_image img {
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.reviews {
    padding-left: 3px;
}

.reviews ul {
    padding-left: 3px;
}

ul.reviews_list {
    list-style-type: circle;
}

table {
    -webkit-border-horizontal-spacing: 10px;
}

td {
    padding: 15px 10px;
    text-align: center;
}

.cell_image {
    background-color: #4c96d7;
    border: 1px solid #000000;
    font-size: 100%;
}

table td img {
    background-color: #4c96d7;
    width: 100%;
}


/*Footer*/

footer {
    width: 100%;
    text-align: center;
    position: relative;
    max-width: 100%;
    border-top: 5px solid #8d8d8d;
    color: #3a3a3a;
    font-family: 'East Sea Dokdo', cursive;
    padding: 1%;
}

footer p {
    margin: 0;
    color: #3a3a3a;
}